@import url(normalize.css);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700,900);
[class^="blend"] img {
  mix-blend-mode: luminosity;
}
[class^="blend"]:before {
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0.2em;
  font-size: 14px;
}
[class^="blend"]:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: contrast(1.3);
  filter: contrast(1.3);
  mix-blend-mode: hue;
}
[class^="blend"][class*="-dark"] img {
  mix-blend-mode: darken;
}
[class^="blend"][class*="-dark"]:after {
  mix-blend-mode: lighten !important;
}
[class^="blend"][class*="-light"] img {
  mix-blend-mode: lighten;
}
[class^="blend"][class*="-light"]:after {
  mix-blend-mode: darken !important;
}
[class^="blend"][class*="-red"] {
  background: #E50914;
}
[class^="blend"][class*="-red"]:after {
  mix-blend-mode: hard-light;
  -webkit-filter: contrast(0.6) saturate(120%) brightness(1.2);
  filter: contrast(0.6) saturate(120%) brightness(1.2);
}
[class^="blend"][class*="-red"][class*="-dark"]:after {
  mix-blend-mode: lighten !important;
  -webkit-filter: contrast(1.1) !important;
  filter: contrast(1.1) !important;
}
[class^="blend"][class*="-red"][class*="-light"]:after {
  mix-blend-mode: color-dodge !important;
  -webkit-filter: saturate(400%) contrast(1.5);
  filter: saturate(400%) contrast(1.5);
}
[class^="blend"][class*="-red"]:after {
  background: #E50914;
}
[class^="blend"][class*="-red"]:after {
  background: #282581;
}
[class^="blend"][class*="-orange"] {
  background: #FCA300;
}
[class^="blend"][class*="-orange"][class*="-dark"]:after {
  mix-blend-mode: darken !important;
}
[class^="blend"][class*="-orange"][class*="-light"]:after {
  mix-blend-mode: hue !important;
  -webkit-filter: saturate(400%) contrast(1.5);
  filter: saturate(400%) contrast(1.5);
}
[class^="blend"][class*="-orange"]:after {
  background: #FCA300;
}
[class^="blend"][class*="-blue"] {
  background: #0066BF;
}
[class^="blend"][class*="-blue"]:not([class*="-dark"]):not([class*="-light"]):after {
  mix-blend-mode: hard-light;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
[class^="blend"][class*="-blue"][class*="-dark"]:after {
  mix-blend-mode: darken !important;
}
[class^="blend"][class*="-blue"]:after {
  background: #0066BF;
}
[class^="blend"][class*="-blue"]:after {
  background: #93EF90;
}
[class^="blend"][class*="-yellow"] {
  background: #FEDD31;
}
[class^="blend"][class*="-yellow"]:not([class*="-dark"]):not([class*="-light"]):after {
  -webkit-filter: brightness(3.5);
  filter: brightness(3.5);
  mix-blend-mode: soft-light;
}
[class^="blend"][class*="-yellow"][class*="-dark"]:after {
  mix-blend-mode: color-dodge !important;
  -webkit-filter: hue-rotate(70deg);
  filter: hue-rotate(70deg);
}
[class^="blend"][class*="-yellow"][class*="-light"] {
  background: #000000;
}
[class^="blend"][class*="-yellow"][class*="-light"]:after {
  mix-blend-mode: color !important;
  -webkit-filter: brightness(3) hue-rotate(93deg) contrast(2) saturate(150);
  filter: brightness(3) hue-rotate(93deg) contrast(2) saturate(150);
}
[class^="blend"][class*="-yellow"]:after {
  background: #FEDD31;
}
[class^="blend"][class*="-yellow"]:after {
  background: #EF3CB4;
}
[class^="blend"][class*="-purple"] {
  background: #BC6D14;
}
[class^="blend"][class*="-purple"]:not([class*="-dark"]):not([class*="-light"]) {
  background: rebeccapurple;
}
[class^="blend"][class*="-purple"]:not([class*="-dark"]):not([class*="-light"]):after {
  mix-blend-mode: darken !important;
}
[class^="blend"][class*="-purple"][class*="-dark"] {
  background: #B10AFF;
}
[class^="blend"][class*="-purple"][class*="-dark"]:after {
  mix-blend-mode: soft-light !important;
  -webkit-filter: saturate(100);
  filter: saturate(100);
}
[class^="blend"][class*="-purple"][class*="-light"]:after {
  background: #A37FC7;
  -webkit-filter: saturate(520%) brightness(10.5) contrast(350) !important;
  filter: saturate(520%) brightness(10.5) contrast(350) !important;
}
[class^="blend"][class*="-purple"]:after {
  background: #BC6D14;
}
[class^="blend"][class*="-purple"]:after {
  background: #ACFCEE;
}
[class^="blend"][class*="-green"] {
  background: #11C966;
}
[class^="blend"][class*="-green"]:not([class*="-dark"]):not([class*="-light"]):after {
  mix-blend-mode: soft-light;
}
[class^="blend"][class*="-green"][class*="-light"]:after {
  mix-blend-mode: color-dodge !important;
  -webkit-filter: saturate(100%) brightness(0.8) contrast(160%);
  filter: saturate(100%) brightness(0.8) contrast(160%);
}
[class^="blend"][class*="-green"]:after {
  background: #11C966;
}
[class^="blend"][class*="-green"]:after {
  background: #2D3181;
}
[class^="blend"][class*="-pink"] {
  background: #EA4C89;
}
[class^="blend"][class*="-pink"][class*="-dark"]:after {
  background: #1D0E14;
}
[class^="blend"][class*="-pink"][class*="-light"]:after {
  background: #FF468D;
  mix-blend-mode: lighten !important;
  -webkit-filter: contrast(1) saturate(250%) !important;
  filter: contrast(1) saturate(250%) !important;
}
[class^="blend"][class*="-pink"]:after {
  background: #EA4C89;
}
[class^="blend"][class*="-pink"]:after {
  background: #EA4C89;
}
[class^="blend"][class*="-blue-yellow"]:not([class*="-dark"]):not([class*="-light"]) {
  background: linear-gradient(to top left, #55ACEE, #FEDD31);
}
[class^="blend"][class*="-blue-yellow"][class*="-dark"]:after {
  mix-blend-mode: hard-light !important;
}
[class^="blend"][class*="-blue-yellow"][class*="-light"]:after {
  mix-blend-mode: hard-light !important;
  -webkit-filter: none;
  filter: none;
}
[class^="blend"][class*="-blue-yellow"]:after {
  background: linear-gradient(to top left, #55ACEE, #FEDD31) !important;
}
[class^="blend"][class*="-pink-yellow"]:not([class*="-dark"]):not([class*="-light"]) {
  background: linear-gradient(to bottom right, #FAA6FB, #FBBC05) !important;
}
[class^="blend"][class*="-pink-yellow"][class*="-dark"]:after {
  mix-blend-mode: hue !important;
  -webkit-filter: none !important;
  filter: none !important;
}
[class^="blend"][class*="-pink-yellow"][class*="-light"]:after {
  mix-blend-mode: hard-light !important;
  -webkit-filter: none !important;
  filter: none !important;
}
[class^="blend"][class*="-pink-yellow"]:after {
  background: linear-gradient(to top left, #FAA6FB, #FBBC05) !important;
}
[class^="blend"][class*="-red-blue"]:not([class*="-dark"]):not([class*="-light"]) {
  background: linear-gradient(to bottom right, #3993E2, #E2544B);
}
[class^="blend"][class*="-red-blue"]:not([class*="-dark"]):not([class*="-light"]):after {
  -webkit-filter: none;
  filter: none;
  mix-blend-mode: hard-light;
}
[class^="blend"][class*="-red-blue"][class*="-dark"]:after {
  mix-blend-mode: hard-light !important;
  -webkit-filter: none !important;
  filter: none !important;
}
[class^="blend"][class*="-red-blue"][class*="-light"]:after {
  mix-blend-mode: screen !important;
  -webkit-filter: saturate(300%) brightness(1.2) !important;
  filter: saturate(300%) brightness(1.2) !important;
}
[class^="blend"][class*="-red-blue"]:after {
  background: linear-gradient(to bottom right, #3993E2, #E2544B);
}

::root {
  font-size: calc(16px + 0.35vw + 0.35vh);
  font-family: "Maven Pro", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Maven Pro", Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw + 0.35vh);
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #EEE !important;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol {
  color: #1F1C81 !important;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol {
  color: #1F1C81 !important;
}

.token.selector, .token.attr-name, .token.string, .token.builtin {
  color: #15BB79 !important;
}

body {
  background: #FFF;
  color: #1F1C81;
  overflow-x: hidden;
}
body:before, body:after {
  content: '';
  width: 100%;
  height: 400px;
  background: #1F1C81;
  position: absolute;
  display: block;
  z-index: 10;
  border-bottom: 1em solid #1F1C81;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  left: 0;
}
@media (max-width: 590px) {
  body:before, body:after {
    overflow: hidden;
    height: auto;
    float: left;
    min-height: 400px;
  }
}
body:after {
  width: 120px;
  height: 120px;
  border-bottom: none;
  top: 420px;
  background: #1F1C81;
  z-index: 8;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
@media (max-width: 590px) {
  body:after {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #E51C81;
}

strong {
  color: #E51C81;
}

.container {
  padding: 1em;
  position: relative;
  z-index: 12;
}

header {
  text-align: center;
  padding: 0 2em;
  color: #fff;
}
header h1 {
  border-bottom: 3px solid #E51C81;
  border-top: 3px solid #14C981;
  padding: 0 0.4em;
  display: inline-block;
  box-shadow: -2px -2px 0px #FFF, -5px -5px 0px #E51C81, 2px 2px 0px #FFF, 5px 5px 0px #14C981;
  line-height: 2;
  color: #FFF;
}
@media (max-width: 590px) {
  header h1 {
    font-size: 1.1em;
  }
}

.spotifyBlock {
  border: #E51C81 3px solid;
  padding: 1em;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  top: -3px;
}
.spotifyBlock.closed {
  height: 0;
  padding: 0;
  border: none;
}
.spotifyBlock img {
  width: 22%;
}

.content {
  width: 100%;
  max-width: 920px;
  margin: 6.5em auto 0;
}
@media (max-width: 590px) {
  .content {
    margin: 2.5em auto 0;
  }
}

.closeBlock {
  color: #E51C81;
  padding: 1em 1em;
  display: inline-block;
  text-decoration: none;
  border: 3px solid #E51C81;
  margin-top: 2em;
}
@media (max-width: 590px) {
  .closeBlock {
    margin-top: 1em;
  }
}

.compat {
  margin-top: 1em;
  display: block;
  float: left;
  width: 100%;
}

footer {
  text-align: center;
}

.filters {
  margin-top: 1em;
}
.filters .block {
  width: 33.33%;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: auto;
  position: relative;
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
  cursor: pointer;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.filters .block img {
  -webkit-filter: grayscale(100%) contrast(1.2);
  filter: grayscale(100%) contrast(1.2);
  display: block;
  float: left;
  width: 100%;
}
.filters .block:active {
  opacity: 0.5;
  -webkit-transform: scale(0.89);
  transform: scale(0.89);
}
.filters .block span {
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

[class^="blend-"] {
  position: relative;
}
[class^="blend-"]:before {
  content: ".blend-" attr(data-color) "" attr(data-tint);
}
